* {
	box-sizing: border-box;
}

#logo {
	width: 8em;
	height: 8em;
	background-color: #DDD;
	border-radius: 4px;
}

.masthead {
	padding: 3em;
	background-image: linear-gradient(to top,sandybrown,salmon);
	width: 100%;
}

header {
	margin: 3em auto;
	text-align: center;
	color:lightslategray;
}